%%-*- mode: erlang -*-

{erl_opts, [debug_info,
            warn_missing_spec,
            {i, "include"} %% need for emacs work properly with include_lib
           ]}.

{deps, [
        {pooler, ".*", {git, "https://github.com/seth/pooler", "b6c522a67a1d067122705ef725535a8664dd8514"}},
        {epgsql, ".*", {git, "https://github.com/epgsql/epgsql", {tag, "3.1.0"}}},
        {herd, ".*", {git, "https://github.com/wgnet/herd", {tag, "1.2"}}}
       ]}.
