%%-*- mode: erlang -*-

{erl_opts, [
            warn_missing_spec
           ]}.

{deps, [
        {pooler, {git, "https://github.com/seth/pooler", {tag, "1.5.2"}}},
        {epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "3.2.0"}}},
        {herd, {git, "https://github.com/wgnet/herd", {tag, "1.3"}}}
       ]}.
